.app-footer {
    background-color: $secondary-color-5;

    .main-container {
        padding-block: 48px;

        @include for-tablet-layout {
            gap: 32px;
            flex-direction: column;
        }

        .container {
            gap: 125px;

            @include for-tablet-layout {
                justify-content: space-between;
            }

            .left-wrapper {
                gap: 25px;

                .nav-links {
                    gap: 40px;
                }
            }

            .right-wrapper {
                @include for-tablet-layout {
                    text-align: end;
                }
            }
        }

        & > div:last-child {
            .social-links {
                gap: 16px;
            }
            @include for-tablet-layout {
                flex-direction: row;
            }
        }
    }
}
