.app-footer {
    background-color: $secondary-color-5;

    .main-container {
        padding-block: 48px;

        .container {
            gap: 125px;

            .left-wrapper {
                gap: 25px;

                .nav-links {
                    gap: 40px;
                }
            }
        }

        .social-links {
            gap: 16px;
        }
    }
}
