.app-header {
    padding-top: 73px;

    .nav-links {
        margin-left: 80px;

        .nav-link {
            margin-inline-start: 40px;
        }
    }

    button {
        margin-left: auto;
    }
}
