.home-header {
    margin-top: 73px;

    .nav-links {
        margin-left: 80px;

        .nav-link {
            margin-inline-start: 40px;
        }
    }

    .btn-contact {
        margin-left: auto;
        padding: 10.5px 31px;
        border: 2px solid #ffffff;
        border-radius: 999px;
    }
}
