.hero {
    padding-top: 129px;
    position: relative;

    .container {
        gap: 30px;
        padding-bottom: 250px;
        position: relative;
    }

    .jumbo {
        font-size: 100px;
        line-height: 100px;
        width: 635px;

        span {
            color: $accent-color;
        }
    }

    .text {
        width: 445px;
        line-height: 28px;
    }

    .bg-pattern-1 {
        position: absolute;
        top: 129px;
        left: -100px;
    }

    .bg-pattern-2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
