.hero {
    margin-top: 129px;
    margin-bottom: 250px;
    gap: 30px;

    .jumbo {
        font-size: 100px;
        line-height: 100px;
        width: 635px;

        span {
            color: $accent-color;
        }
    }

    .text {
        width: 445px;
        line-height: 28px;
    }
}
