.product-description {
    height: 684px;
    background-color: $secondary-color-4;
    position: relative;

    .container {
        padding-top: 200px;
        gap: 125px;

        h2 {
            font-size: 48px;
            line-height: 48px;
            width: 445px;

            &::before {
                content: "";
                display: block;
                width: 50px;
                height: 4px;
                background-color: $primary-color-2;
                position: relative;
                bottom: 54px;
            }
        }

        .cards-list {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 540px;

            .card-preview {
                display: flex;
                gap: 23px;
                height: 94px;

                img {
                    display: block;
                    width: 72px;
                    aspect-ratio: 1/1;
                    align-self: start;
                }

                .text-container {
                    display: flex;
                    flex-direction: column-reverse;

                    h3 {
                        color: $primary-color-2;
                    }
                    
                    p {
                        margin-top: auto;
                    }
                }
            }
        }
    }

    .bg-pattern-3 {
        position: absolute;
        bottom: 0;
        right: -100px;
    }
}
