.ready {
    height: 200px;
    background-color: $primary-color-2;
    color: $secondary-color-4;
    position: relative;

    div {
        gap: 260px;
    }

    button {
        margin-left: auto;
    }

    .bg-pattern-6 {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
