.success-stories {
    padding-block: 140px;
    position: relative;

    h2 {
        text-align: center;
        width: 932px;
        margin: 0 auto 56px;

        @include for-tablet-layout {
            font-size: 32px;
            line-height: 32px;
            width: 456px;
        }

        span {
            color: $secondary-color-1;
        }
    }

    .cards-list {
        display: flex;
        gap: 30px;

        @include for-tablet-layout {
            flex-direction: column;
            width: 573px;
            margin: auto;
        }

        .card-preview {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .text-container {
                p,
                h3 {
                    text-align: center;
                }

                h3 {
                    color: $secondary-color-1;
                    height: 48px;
                    margin-top: 24px;
                    margin-bottom: 32px;

                    @include for-tablet-layout {
                        margin-block: 16px;
                    }
                }
            }

            img:first-child {
                width: 62px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 2px solid #c4fffe;
            }

            img:last-child {
                position: relative;
                top: 20px;
                z-index: -1;
            }
        }
    }

    .bg-pattern-4 {
        position: absolute;
        top: 0;
        left: 0;
    }
    .bg-pattern-5 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
