* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: $main-font;
    font-weight: 600;
    color: $font-color;
    line-height: 25px;
}

body {
    background-color: $main-color;
    overflow-x: hidden;
}

button {
    font-size: 1rem;
    font-family: $main-font;
    font-weight: 600;
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}
