* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: $main-font;
    color: $primary-color-3;
}

body {
    background-color: $primary-color-1;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
    cursor: default;
}

::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
    margin-block: 2px;
}

::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 10px;
    border: 3px solid lightgray;

    transition: 200ms;
}

::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}
