// Colors - PRIMARY
$primary-color-1: #014e56;
$primary-color-2: #f67e7e;
$primary-color-3: #ffffff;

// Colors - SECONDARY
$secondary-color-1: #79c8c7;
$secondary-color-2: #2c6269;
$secondary-color-3: #004047;
$secondary-color-4: #012f34;
$secondary-color-5: #002529;

// Fonts
$main-font: Livvic, "sans-serif";

// Media
$media-tablet: 1440px;
// $media-mobile: